<h1>About the Brand</h1>

<p>
    The Bati Clothing web application’s primary reason of creation is for the founders of the Bati Clothing brand. 
    Two DePauw University students, Natu McCarthy and Freddy Sprunger, approached me to develop their web application for their brand. 
    During this semester, the founders are finding a designer to create prototypes and then manufacture the clothes for the brand. 
    My motivation for creating this web application is what the clothing brand stands for: Fashion, Culture and Education. 
    10% of the clothing purchases at Bati Clothing give back to the educational systems from where the clothing designs derive. 
    I tutored homeless children in high school through the non-profit organization, School on Wheels, and I saw how important education is for the functionality, safety, security and stability of any human being. 
    Culturally, I have traveled to different countries outside the US and am always enthralled by how countries live so different from my own. 
    The Bati Clothing brand plans to gather designs from third-world communities in Africa. Lastly, Fashion is key aspect of my life. 
    From a young age, I have always been creative and artistic, and fashion allowed me to express myself daily through my creativity. 
    With my background and passions in mind, my goal is to develop a web-application that allows others in impoverished regions to gain necessary education that they deserve. 
    Moreover, I wish to raise educational awareness through the help of this clothing brand. 
    I hope to satisfy the founder’s goals with the design of the website.
</p>